force-app/main/default/flows/AF_Rider_Create_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_objRecordId</name>
        <label>assign objRecordId</label>
        <locationX>492</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>objSARecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SA_Error</name>
        <label>Assign SA Error</label>
        <locationX>848</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Service Appointment not Found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_for_No_Contact</name>
        <label>Set Error for No Contact</label>
        <locationX>835</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Contact not found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_for_WT</name>
        <label>Set Error for WT</label>
        <locationX>823</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Work Type not found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Generic_Error</name>
        <label>Set Generic Error</label>
        <locationX>180</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>606</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Create_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cNot_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_for_No_Contact</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Found</name>
        <label>SA Found?</label>
        <locationX>611</locationX>
        <locationY>427</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>saNot_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SA_Error</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Type_Found</name>
        <label>Work Type Found</label>
        <locationX>606</locationX>
        <locationY>103</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strWTId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_for_WT</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <interviewLabel>Rider - Create SA {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Rider - Create SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_WO</name>
        <label>Create WO</label>
        <locationX>383</locationX>
        <locationY>320</locationY>
        <assignRecordIdToReference>strWOId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Generic_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>objContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>objContact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>objContact.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>objContact.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>objContact.Rider_ServiceTerritory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>objContact.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>objContact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>strWTName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>strWTId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>380</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Generic_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactRecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rider_ServiceTerritory__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>383</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_objRecordId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Generic_Error</targetReference>
        </faultConnector>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strWOId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>objSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>380</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Type_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Generic_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strWTName</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>strWTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objContactIN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>objSARecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strWOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strWTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strWTName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
